* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: fit-content;
    height: -moz-fit-content;
}

body {
    display: block;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    height: 100%;
}

.master-content {
    padding: 15vh 5vw;
    width: 100%;
    padding: 5vh;
    background-image: url("../img/top-logo.png"), url("../img/bottom-logo.png"), url("../img/background.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center top 5vh, right 5vw bottom, center center;
    background-size: auto, auto, cover;
}

.master-content::after {
    content: "";
    display: table;
    clear: both;
}

.column {
    width: 40%;
}

.left {
    float: left;
}

.right {
    float: right;
    vertical-align: top;
}

.form-container {
    width: 100%;
    border: 20px solid rgba(117, 29, 38, 0.1);
    border-radius: 5px;
    margin-bottom: 40px;
}

form {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
}

textarea {
    resize: none;
    padding-left: 10px;
    width: 100%;
}

.form-field {
    background-color: transparent;
    border-radius: 5px;
}

.input {
    padding: 12px 0;
    display: block;
    background-color: #fff;
    border: 1px solid rgb(198, 198, 198);
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: light;
    width: 100%;
}

.input::-webkit-input-placeholder {
    color: rgb(175, 175, 175);
}

.input::-moz-placeholder {
    color: rgb(175, 175, 175);
}

.input:-ms-input-placeholder {
    color: rgb(175, 175, 175);
}

.input:-moz-placeholder {
    color: rgb(175, 175, 175);
}

label {
    color: rgb(175, 175, 175);
}

.button {
    width: 100%;
    font-size: 24px;
    font-weight: normal;
    color: white;
    text-shadow: 1px 1px 5px black;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    border-radius: 4px;
    margin-top: 20px;
}

.inline {
    width: 50%;
    float: right;
}

.inline>button {
    margin-top: 0;
}

.green {
    background-color: rgb(159, 213, 58);
    border: 1px solid rgb(59, 154, 0);
}

.green:hover {
    color: rgb(159, 213, 58);
    text-shadow: 1px 1px 5px black;
    background-color: white;
    border: 1px solid rgb(59, 154, 0);
}

.light-green {
    background-color: rgb(195, 223, 161);
    border: 1px solid rgb(109, 202, 109);
}

.light-green:hover {
    color: rgb(195, 223, 161);
    text-shadow: 1px 1px 5px black;
    background-color: white;
    border: 1px solid rgb(109, 202, 109);
}

.red {
    background-color: rgb(245, 83, 101);
    border: 1px solid rgb(162, 32, 42);
}

.red:hover {
    color: rgb(245, 83, 101);
    text-shadow: 1px 1px 5px black;
    background-color: white;
    border: 1px solid rgb(162, 32, 42);
}

.checkbox {
    display: inline;
    border: 1px solid rgb(198, 198, 198);
    /*not finished yet*/
}

.header {
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

.username {
    background: white url("../img/user-icon.png") no-repeat left 10px center;
    background-size: auto;
    padding-left: 40px;
}

.password {
    background: white url("../img/lock-icon.png") no-repeat left 10px center;
    background-size: auto;
    padding-left: 40px;
}

.confirm-password {
    background: white url("../img/lock-icon.png") no-repeat left 10px center;
    background-size: auto;
    padding-left: 40px;
}

.email {
    background: white url("../img/mail-icon.png") no-repeat left 10px center;
    background-size: auto;
    padding-left: 40px;
}

.location {
    background: white url("../img/map-icon.png") no-repeat left 10px center;
    background-size: auto;
    padding-left: 40px;
}

.tel {
    background: white url("../img/mobile-icon.png") no-repeat left 10px center;
    background-size: auto;
    padding-left: 40px;
}

.inline-no-float {
    /* width: 49.4%; */
    width: 50%;
    margin: -1px;
    display: inline-block;
}